<p id="notice"><%= notice %></p>
<div class='container'>
  <div class = 'row'>
    <div class = 'col-sm song-grid'>
      <strong>Title:</strong>
      <%= @song.title %>
    </div>

    <div class = 'col-sm song-grid'>
      <strong>Artist:</strong>
      <%= @song.artist.name %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-sm song-grid'>
      <strong>Key:</strong>
      <%= @song.key %>
    </div>

    <div class = 'col-sm song-grid'>
      <strong>Capo:</strong>
      <%= @song.capo %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-sm song-grid'>
      <strong>Status:</strong>
      <%= @song.status %>
    </div>

    <div class = 'col-sm song-grid'>
      <strong>Last performed:</strong>
      <%= @song.last_performed %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col song-grid'>
      <strong>Lyrics:</strong>
      <%= @song.lyrics %>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'iframe-container col song-grid'>
      <iframe src=<%= @song.video.sub("watch?v=", "embed/") %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
<div>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
